---
layout: default
---
zheli:{{page.name}}
<div class="home-wrap" data-root="{{site.baseurl}}"></div>
<div class="row">
  <div class="col-sm-9 col-xs-12">
    {% for post in site.posts limit:8 %}
    <div class="home-block clearfix">
      {% assign post = site.posts.first %}
      <h4><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h4>
      <div class="subst">
        <small>
          <span class="glyphicon glyphicon-calendar"></span>
          {{ post.date | date: "%b %d, %Y" }}
        </small>
        <span class="pull-right">
          {% if post.tags.size > 0 %}
          <strong>tags: </strong>
          {% for tag in post.tags %}
          <span class="label label-default">{{tag}}</span>
          {% endfor %}
          {% endif %}
        </span>
      </div>
      <p>{{post.excerpt}}</p>
      <a href="{{ post.url | prepend: site.baseurl }}" class="pull-right btn btn-info btn-sm">
        <i class="glyphicon glyphicon-circle-arrow-right"></i> 阅读全文</a>
    </div>
    {% endfor %}
  </div>
  <div class="col-sm-3 col-xs-12">
    <div class="home-block clearfix tags-list">{% include tags.html %}</div>
  </div>
</div>
<div class="photo-info">
  <span class="label label-default">Photo at </span>
</div>