---
layout: default
---
<header id="home-jumbo" class="top-header jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 last-post col-xs-offset-1">
        {% assign post = site.posts.first %}
        <h2>{{post.title}} <small>{{ post.date | date: "%b %d, %Y" }}</small></h2>
        <p>{{post.excerpt}}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="pull-right">
          继续阅读全文 <i class="glyphicon glyphicon-forward"></i></a>
      </div>
    </div>
  </div>
</header>

<section class="container">
  <main class="row">
    <div class="col-xs-8">
      <h3 class="page-header">
        <i class="glyphicon glyphicon-fire"></i> 最新文章
        <a href="{{ "/list.html" | prepend: site.baseurl}}" class="pull-right more-article">
          <small class="label label-default">more</small>
        </a>
      </h3>
      <ul class="list-unstyled">
        {% for post in site.posts limit:8 %}
        <li>
          <h4>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <small> <i class="glyphicon glyphicon-calendar"></i> {{ post.date | date: "%b %d, %Y" }}</small>
          </h4>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-xs-4">
      {% include tags.html %}
    </div>
  </main>
</section>