footer {
  background-color: $footer-bg-color;
  border-top: $footer-border-top;
  color: $footer-color;
  font-size: $footer-font-size;
  font-weight: $footer-font-weight;
  padding: $footer-padding;
  text-align: center;

  img {
    max-width: 100px;
    vertical-align: middle;
  }
}
