body{
  -webkit-overflow-scrolling: touch;
}

#navbar-top{
  border: none;
  background: rgba($navbar-inverse-bg, .8);
  .navbar-brand{
    color: $body-bg;
    @include text-shadow($gray-light 1px 1px);
  }
}

section.container{
  padding-top: $navbar-height + $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  min-height: 100%;
  min-height: 100vh;
}

.photo-info{
  position: fixed;
  right: 10px; bottom: 10px;
  opacity: 0.6;
  .glyphicon{
    color: $brand-info;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
}

.log-list{
  li{
    line-height: 2em;
    color: $gray-light;
  }
  .glyphicon, strong{
    color: #000;
  }
}