.home-wrap{
  @include size(100vw, 100vh);
  overflow: auto;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background: no-repeat center;
  background-size: cover;

  @include transition(opacity .3s linear);
}

.home-block{
  margin-bottom: $grid-gutter-width;
  padding: $grid-gutter-width/2;
  background-color:rgba(255, 255, 255, .8);
  border: 1px solid $gray-lighter;
  p{
    font-size: 1.1em;
  }
  &:hover{
    border-color: $brand-info;
  }
}

.subst{
  border-bottom: 1px solid #ccc;
  line-height: $grid-gutter-width;
  color: $gray-light;
  .label{
    font-size: 10px;
  }
  small {
    margin-right: 5px;
  }

}

.tags-list{
  li{
    padding:5px;
    padding-left: 0;
  }
}

