// main article style
.post-container, .comments-area{
  padding: $grid-gutter-width/2;
  border: 1px solid $gray-lighter;
  & > h4 {
    color: $link-color;
  }
}

.comments-area{
  margin-top: $grid-gutter-width/2;
  & > h4 {
    color: $gray-light;
  }
}

.post-aside{
  @include box-shadow(0 0 10px $gray-lighter);
}

.post-content{
  padding-top: $grid-gutter-width;
  h4:not(:first-child){
    margin-bottom: $grid-gutter-width/2;
    margin-top: $grid-gutter-width;
  }
}

.post-tags{
  font-size:10px;
  margin: 0;
  li ~ li{
    padding-right: 0;
  }
}

span.glyphicon + a{
  word-wrap: break-word;
}