[alt^='nz:'] {
  display: block;
  max-width: 100%;
  margin: auto;
  border: 10px solid lighten(gray, 30%);


   + .fa {
     color: $blue;
     margin-left: 10px;
   }

   ~ span {
     font-size: 0.8rem;
     color: $blue;
   }

   @media screen and (max-width: $viewport-small) {
     border-width: 0;

     + .fa {
       margin-left: 0;
     }
   }
}
