---
layout: default
---
<main class="row">
  <article class="col-xs-12 col-lg-10 col-lg-offset-1">
    <div class="post-container">
      <h4>{{ page.title }}</h4>
      <div class="subst">
        <small><i class="glyphicon glyphicon-calendar"></i> {{ page.date | date: "%b %d, %Y" }}</small>
        {% if page.tags.size > 0 %}
        <ul class="list-inline post-tags pull-right">
          <li><i class="glyphicon glyphicon-tags"></i></li>
          {% for tag in page.tags %}
          <li>
            <span class="label label-info">{{tag}}</span>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="post-content">
        {{content}}
      </div>
    </div>
  </article>
</main>
